/* General Styles for Card Container */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
}

.card-wrapper {
  display: flex;
  gap: 2%;
}

.card.selected {
  border: 3px solid gold;
}

/* Styles for Prefix Container and Fragments */
.prefix-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
  background: #f0f0f0;
  padding: 20px 0;
}

.prefix {
  flex: 0 1 calc(33.333% - 20px);
  background: #fff;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: #333;
  cursor: pointer; /* Add cursor pointer for better UX */
  

  /* Shimmer Effect */
  background: linear-gradient(to right, #acacac 20%, #ffffff 40%, #acacac 60%);
  background-size: 200% 100%;
}

/* Apply shimmer effect on hover/selected */
/* .prefix:hover, .prefix.selected { 
  animation: shimmer 1.5s linear infinite;
}

@keyframes shimmer {
  0% { background-position: -150% 0; }
  100% { background-position: 150% 0; }
} */

.prefix:hover {
  background: linear-gradient(to right, #acacac 20%, #ffffff 40%, #acacac 60%);
  background-size: 200% 100%;
  animation: shimmer 1.5s linear infinite;
}

/* Apply blur effect when selected */
.prefix.selected {
  animation: blurEffect 30s forwards; /* Adjust duration as needed */
}

@keyframes blurEffect {
  0% { text-shadow: 0em 0em 0.02em rgba(0,0,0,0.75); }
  100% { text-shadow: 0em 0em 0.3em rgba(0,0,0,0.75); }
}

/* Fade Effect */
.prefix {
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}


/* Fading Text Effect */
.prefix {
  animation: fadeText 3s infinite;
}

@keyframes fadeText {
  0%, 100% { color: #333; }
  50% { color: transparent; }
}


.blur
{
	color:transparent;
	text-shadow: 0em 0em 0.08em #000;
}

.blurrier
{
	color:transparent;
	text-shadow: 0em 0em 0.2em #000;
}

.blurrier::selection {
	background-color:transparent;
	color:transparent;
}

.blurrier::-moz-selection {
	background-color:transparent;
	color:transparent;
}

.smear
{
	color:transparent;
	text-shadow: 0em 0em 0.02em rgba(0,0,0,0.75), -0.2em 0em 0.5em rgba(0,0,0,0.5), 0.2em 0em 0.5em rgba(0,0,0,0.5);
}
